{%extends "core/base.html"%}
{%block title%}Servicios{%endblock%}
{%block content%}
{%load static%}


  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            Nuestros <span>Servicios</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              {%for service in services%}
              <div class="col-md-4">
                <div class="img_box">
                  {%if service.image.url != null%}
                  <img src="{{service.image.url}}" alt="">
                  {%endif%}
                </div> 
                <div class="detail_box">
                  <h6>
                    {{service.title}}
                  </h6>
                  <p>
                    {{service.content|safe}}
                  </p> 
                </div>       
              </div>
              {%endfor%}
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <img src="{% static 'core/images/Services.png' %}" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>

<!-- end service section -->

{%endblock%}
